<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="TrialBalanceDownloader">
    <Appenders>
        <RollingFile name="RollingFile" filename="${env:APPDATA}/TrialBalanceDownloader/logs/balance.log"
                     filePattern="${env:APPDATA}/TrialBalanceDownloader/logs/$${date:yyyy-MM}/balance-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c [%n%m%n%ex]%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <ThresholdFilter level="INFO"/>
        </RollingFile>
        <RollingFile name="RollingFileDebug" filename="${env:APPDATA}/TrialBalanceDownloader/logs/balance-debug.log"
                     filePattern="${env:APPDATA}/TrialBalanceDownloader/logs/$${date:yyyy-MM}/balance-debug-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c [%n%m%n%ex]%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%p %c{2} %m%n"/>
            <ThresholdFilter level="INFO"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.balance" level="DEBUG" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileDebug"/>
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>